<div class="navbar bg-base-100 shadow-md">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl">ตรวจสอบที่นั่งบัณฑิต</a>
  </div>
  <div class="flex-none gap-2">
    <div class="form-control">
      <input
        type="text"
        placeholder="ค้นหาจากชื่อ หรือ นามสกุล"
        class="input input-bordered"
      />
    </div>
  </div>
</div>

<div class="overflow-x-auto mt-10 p-5 h-full">
  <table class="table w-full shadow-md rounded-box">
    <!-- head -->
    <thead>
      <tr>
        <th></th>
        <th>ชื่อ-สกุล</th>
        <th>รายละเอียด</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <tr>
        <th>1</th>
        <td>Cy Ganderton</td>
        <td>ดูที่นั่ง</td>
      </tr>
      <!-- row 2 -->
      <tr>
        <th>2</th>
        <td>Hart Hagerty</td>
        <td>ดูที่นั่ง</td>
      </tr>
      <!-- row 3 -->
      <tr>
        <th>3</th>
        <td>Brice Swyre</td>
        <td>ดูที่นั่ง</td>
      </tr>
    </tbody>
  </table>
  <div
    class="
      flex
      min-h-[6rem] min-w-[18rem]
      max-w-4xl
      flex-wrap
      items-center
      justify-center
      gap-2
      overflow-x-hidden
      p-4
    "
    style="background-size: 5px 5px"
  >
    <div class="btn-group">
      <button class="btn">«</button> <button class="btn">หน้า 1</button>
      <button class="btn">»</button>
    </div>
  </div>
</div>
